[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "==1.33.0"
scipy = "==1.7.3"
statsmodels = "==0.13.2"
streamlit-navigation-bar = "==3.0.3"

[dev-packages]
jupyterlab = "*"

[requires]
python_version = "3.9"
